examples/bug_05_choice_having_oneOrMore_assigned_wrong_name.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
	<start>
		<element name="addressBook">
			<oneOrMore>
				<attribute name="attr"/>
			</oneOrMore>
			<choice>
				<attribute name="x"/>
				<oneOrMore>
					<attribute name="attr"/>
				</oneOrMore>
			</choice>
		</element>
	</start>
</grammar>
