examples/bug_validation_cannot_propagate_validation_multilevel.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
	<start>
		<element name="ele">

			<oneOrMore>
				<choice>

					<element name="A">
						<text/>
					</element>

					<element name="B">
						<text/>
					</element>

					<interleave>
						<attribute name="spoiler"/>
						<attribute name="spoilerBro"/>
					</interleave>

				</choice>
			</oneOrMore>

		</element>
	</start>
</grammar>
