examples/elements2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
  <start>
    <element name="first">
      <element name="first_child">
        <text/>
      </element>
    </element>
    <element name="second">
      <text/>
    </element>
  </start>
</grammar>
