examples/elements1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element xmlns="http://relaxng.org/ns/structure/1.0" name="addressBook">
      <element name="card">
        <element name="name">
          <text/>
        </element>
        <element name="email">
          <text/>
        </element>
      </element>
    </element>
  </start>
</grammar>
