examples/elements3.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
    <start>
        <element name="A">
            <text/>
            <element name="B">
                <text/>
            </element>
            <text/>
            <element name="C">
                <text/>
            </element>
            <text/>
        </element>
    </start>
</grammar>
