examples/elements2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <group>
      <element name="first">
        <element name="first_child">
          <text/>
        </element>
      </element>
      <element name="second">
        <text/>
      </element>
    </group>
  </start>
</grammar>
