examples/kitchen_choice_oneOrMore.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="kitchen">
      <choice>
        <oneOrMore>
          <element name="spoon">
            <text/>
          </element>
        </oneOrMore>
        <oneOrMore>
          <element name="fork">
            <text/>
          </element>
        </oneOrMore>
      </choice>
    </element>
  </start>
</grammar>
