examples/kitchen_choice.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="kitchen">
      <choice>
        <element name="spoon">
          <text/>
        </element>
        <element name="fork">
          <text/>
        </element>
      </choice>
    </element>
  </start>
</grammar>
