examples/leo_ref10_fake_choice_should_lead_to_fusion.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="A">
    <ref name="C"/>
  </define>
  <define name="B">
    <ref name="C"/>
  </define>
  <define name="C">
    <element name="X">
      <text/>
    </element>
  </define>
  <start>
    <choice>
      <ref name="A"/>
      <ref name="B"/>
    </choice>
  </start>
</grammar>
