examples/leo_ref9_choice_longer_circular_ref.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name="A"/>
  </start>
  <define name="A">
    <ref name="C"/>
  </define>
  <define name="B">
    <ref name="C"/>
  </define>
  <define name="C">
    <choice>
      <ref name="A"/>
      <ref name="B"/>
    </choice>
  </define>
</grammar>
