examples/optional_basic.rng

<grammar ns="test_data" xmlns="http://relaxng.org/ns/structure/1.0">
	<start>
	
		<element name="first">
			<element name="first_child">
				<text/>
			</element>	
		</element>

		<element name="second">
			<text/>
		</element>	
		
		<optional>
			<element name="third">
				<text/>
			</element>
			<element name="fourth">
				<text/>
			</element>	
		</optional>	
	</start>
</grammar>