examples/optiField_03_multiple_multi-level.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="ele">
      <optional>
        <element name="first_child">
          <attribute name="attr1"/>
        </element>
        <element name="second_child">
          <attribute name="attr2"/>
        </element>
      </optional>
      <element name="aaa">
        <text/>
      </element>
    </element>
  </start>
</grammar>
