examples/optiField_02_multi-level.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
	<start>
		<element name="ele">

			<optional>
				<element name="first_child">
					<attribute name="attr1" />
					<text/>
				</element>
			</optional>

			<text/>

		</element>
	</start>
</grammar>
