examples/refA_calls_refB_vice_versa.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <ref name="A"/>
  </start>
  <define name="A">
    <ref name="B"/>
    <ref name="C"/>
  </define>
  <define name="B">
    <element name="B_child">
      <text/>
    </element>
    <ref name="C"/>
  </define>
  <define name="C">
    <element name="C_child">
      <text/>
    </element>
    <optional>
      <ref name="A"/>
    </optional>
  </define>
</grammar>
