examples/simplify_07_choice_has_magic+others.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
	<start>
		<element name="ele">
			<choice>

				<attribute name="a"/>

				<attribute name="b"/>

				<oneOrMore>
					<element name="has_bottom1">
						<text/>
					</element>

					<element name="has_bottom2">
						<text/>
					</element>
				</oneOrMore>

				<attribute name="test"/>

			</choice>
		</element>
	</start>
</grammar>
