examples/simplify_01_bottomless_child_in_oneOrMore.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="ele">
      <oneOrMore>
        <choice>
          <element name="A">
            <text/>
          </element>
          <element name="B">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </start>
</grammar>
