examples/simplify_04_propagate_bottom_multiLayer.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="ele">
      <oneOrMore>
        <interleave>
          <choice>
            <attribute name="a"/>
            <attribute name="b"/>
          </choice>
        </interleave>
      </oneOrMore>
    </element>
  </start>
</grammar>
