examples/simplify_08_choice_propagates_bottom_to_optional.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="ele">
      <oneOrMore>
        <choice>
          <attribute name="a"/>
          <attribute name="b"/>
          <optional>
            <attribute name="c"/>
          </optional>
        </choice>
      </oneOrMore>
    </element>
  </start>
</grammar>
