examples/simplify_02_oneOrMore_inside_oneOrMore.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
	<start>
		<element name="ele">
			<oneOrMore>
				<oneOrMore>
					<element name="A">
						<text/>
					</element>
					<element name="B">
						<text/>
					</element>
				</oneOrMore>
			</oneOrMore>
		</element>
	</start>
</grammar>
