examples/simplify_09_choice_has_(optional+oneOrMore)_and_other_nonMagic.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="ele">
      <choice>
        <optional>
          <attribute name="a"/>
          <attribute name="b"/>
          <oneOrMore>
            <element name="has_bottom">
              <text/>
            </element>
          </oneOrMore>
        </optional>
        <attribute name="test"/>
      </choice>
    </element>
  </start>
</grammar>
