examples/simplify_06_choice_has_oneOrMore.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="ele">
      <choice>
        <oneOrMore>
          <attribute name="a"/>
          <attribute name="b"/>
        </oneOrMore>
      </choice>
    </element>
  </start>
</grammar>
