examples/validation_22_interleave_has_zeroOrMore.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="ele">
      <interleave>
        <element name="a">
          <text/>
        </element>
        <zeroOrMore>
          <element name="b">
            <text/>
          </element>
        </zeroOrMore>
      </interleave>
    </element>
  </start>
</grammar>
