examples/validation_07_interleave_has_interleave.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
	<start>
		<element name="addressBook">
			<interleave>

				<attribute name="first"/>
				<attribute name="second"/>

				<interleave>
					<attribute name="third"/>
					<attribute name="fourth"/>
				</interleave>

			</interleave>
		</element>
		</start>
</grammar>
