examples/validation_09_interleave_has_choice.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="addressBook">
      <interleave>
        <attribute name="first"/>
        <attribute name="second"/>
        <attribute name="third"/>
        <choice>
          <attribute name="fourth"/>
          <attribute name="fifth"/>
          <attribute name="sixth"/>
        </choice>
      </interleave>
    </element>
  </start>
</grammar>
