examples/validation_03_choice_in_OneOrMore_simple.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="addressBook">
      <oneOrMore>
        <choice>
          <attribute name="first"/>
          <attribute name="second"/>
          <attribute name="third"/>
        </choice>
      </oneOrMore>
    </element>
  </start>
</grammar>
