examples/validation_10_interleave_has_optional.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
	<start>
		<element name="addressBook">
			<interleave>

				<attribute name="first"/>
				<attribute name="second"/>
				<attribute name="third"/>
				<optional>
					<attribute name="fourth"/>
					<attribute name="fifth"/>
					<attribute name="sixth"/>
				</optional>

			</interleave>
		</element>
	</start>
</grammar>
