examples/validation_02_different_magicBlocks_in_choice.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
  <start>
    <element name="addressBook">
      <oneOrMore>
        <attribute name="attr"/>
      </oneOrMore>
      <choice>
        <attribute name="attr"/>
        <oneOrMore>
          <attribute name="x"/>
        </oneOrMore>
        <interleave>
          <attribute name="a"/>
          <attribute name="b"/>
        </interleave>
      </choice>
    </element>
  </start>
</grammar>
