examples/value_multiple_choices.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="test_data">
	<start>
		<element name="ele">
			<attribute name="attr">
				
				<choice>
					<value>val1</value>
					<value>val2</value>
				</choice>
			</attribute>
				
			<attribute name="attr2">
				<choice>
					<value>a</value>
					<value>b</value>
				</choice>
				
			</attribute>
		</element>
	</start>
</grammar>
